@mixin disable-selection {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -webkit-tap-highlight-color: transparent;
}

@mixin bg-frost {
    // FROSTED GLASS EFFECT WITH FALLBACK
    background-color: #FFF9;
    box-shadow: 0 2px 12px rgba(130, 255, 243, 0.44);
    transition: background-color 0.2s, backdrop-filter 0.2s, box-shadow 0.2s;
    &:hover {
        background-color: #FFF9;
        box-shadow: 0 4px 18px rgba(133, 198, 198, 0.44);
    }

    @supports (backdrop-filter: blur()) {
        background-color: #FFFFFF60;
        backdrop-filter: blur(3px);
        &:hover {
            backdrop-filter: blur(5px);
        }
    }
}