// global behavior

html {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font-family: inherit;
    color: inherit;
    &::before, &::after {
        box-sizing: inherit;
    }
}

// specific element styles

table {
    border-collapse: collapse;
    border-spacing: 0;
}

li {
    list-style: none;
    ul, ol {
        margin: 0;
        padding: 0;
    }
}

img, video {
    max-width: 100%;
}