@use "../globals/breakpoints" as *;

// font declarations
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

// variables
:root {
  --black: #292F36;
  --white: #F7FFF7;
  --coral: #fc814a;
  --teal: #4ECDC4
  --green: #c2e812;
  --yellow: #FFE66D;

  --page-margin-x: 1.4rem;
  --page-margin-y: 1rem;

  @include break-at("small") {
    --page-margin-x: 3.2rem;
    --page-margin-y: 2.4rem;
  }
}