@use "../globals/breakpoints" as *;

.card {
  display: grid;
  gap: 1.1rem;
  border: 1px solid var(--black);
  // background-color: var(--black);
  // color: var(--green);
  padding: var(--page-margin-y) var(--page-margin-x)
}