.content {
  display: flex;
  flex-direction: column;
  gap: 1.2em;
}

.content ul, .content ol {
  display: flex;
  flex-direction: column;
  gap: 1.2em;
}

.content ul li::before {
  content: "— "
}