@use "../globals" as *;

header {
  display: grid;
  grid-template-columns: 1fr min-content;

  .logo {
    justify-self: start;
    align-self: start;
  }

  nav ul {
    display: flex;
    align-items: center;
    gap: 2em;  
  }

  li:not(:first-of-type) {
    display: none;
  }

  a {
    text-decoration: none;
    white-space: nowrap;
    font-size: 1em;
    &:hover {
      text-decoration: underline;
    }
  }

  @include break-at("tablet") {
    li:first-of-type {
      display: none;
    }
    li:not(:first-of-type) {
      display: block;
    }
  }

  @include break-at("small") {
    grid-template-columns: min-content;
    grid-template-rows: 1fr;
    grid-auto-rows: min-content;
    gap: 2em;
    nav ul {
      flex-direction: column;
      align-items: start;
      gap: 1.2em;
    }
    a {
      font-weight: 700;
      font-size: 1.1em;
    }
  }
}