.img-container {
  overflow: hidden;
  width: 440px;
  height: 440px;
  cursor: pointer;
  border: 1px solid var(--black);
  padding: 20px;

  img {
    transition: transform .2s;
  }

  img:hover {
    transform: scale(1.2);
  }

}
