.img-container {
  overflow: hidden;
  cursor: pointer;
  border: 1px solid var(--black);
  padding: 20px;
  transition: padding .2s;

  &:hover {
    padding: 0;
  }
}

.thumbnail-grid {
  display: grid;
  gap: var(--page-margin-y);
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

