.overlay-menu {
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;
  padding: var(--page-margin-y) var(--page-margin-x);
  
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s;

  background: url("~/src/assets/bg/CARPET-01.jpg");
  &.active {
    opacity: 1;
    pointer-events: all;
    
  }
}