@use "../globals" as *;

:root {
  background: var(--main-bg);
}

#root {
  color: var(--black);
  background-color: #FFFFFF64;
  box-shadow: 0 0 8px #FFFFFF;
  font-family: "Cousine", monospace;
  display: grid;
  grid-template-rows: min-content 1fr;
  height: var(--doc-height);
  padding: var(--page-margin-y) var(--page-margin-x); 
  row-gap: var(--page-margin-y);
  column-gap: var(--page-margin-x);
  font-size: 0.9em;

  @include break-at("tablet") {
    font-size: 1em;
  }

  @include break-at("small") {
    grid-template-columns: 2fr 7fr;
    grid-template-rows: 1fr;
  }

  @include break-at("medium") {
    width: 1024px;
    margin: 0 auto;
  }

  @include break-at("huge") {
    width: 1200px;
    // font-size: 1.1em;
  }

  overflow: hidden;
}

main {
  display: grid;
  grid-auto-rows: min-content;
  gap: var(--page-margin-y);
  // overflow: auto;

  @include break-at("small") {
    align-self: stretch;
  }

  // scrollbar-color: var(--black);
  // scrollbar-width: 8px;
}

::-webkit-scrollbar {
  margin: 1rem;
  width: 4px;
  border: 1px solid black;
  &-thumb {
      background-color: var(--black);
  }
}